* {
    box-sizing: border-box;
    margin: 0;
}
.container {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    height: 100vh;
}
.side-img-div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url('img/mario-esposito-KPZkAGx7zio-unsplash.jpg');
    background-size: cover;
}
.side-img-div p {
    color: white;
}
.side-img-div a {
    color: white;
}
.sign-up-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5em;
    background-color: rgba(211, 211, 211, 0.089);
}
.sign-up-div > div {
    padding: 3em;
}
.sign-up-header h2 {
    margin-top: 1em;
}

.sign-up-main {
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 2em;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}
.form-container .form-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.form-input {
    width: 80%;
}
.form-input > div {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}
input {
    max-width: 200px;
    height: 2em;
    margin-top: .5em;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.form-submission {
    margin-top: 2em;
}
.form-submission button {
    font-size: 1.2rem;
    border-radius: .2em;
    background-color: lightblue;
    border: none;
    padding: .25em 1em;
}
.form-submission p {
    margin-top: 1em;
}
.sign-up-div p {
    padding-left: 3em;
}
form {
    margin-top: 1em;
}